@tailwind base;
@tailwind components;
@tailwind utilities;

.menuLink {
  @apply z-10 ml-6 text-3xl font-medium lg:text-white;
}

.container {
  @apply w-full mx-auto text-xl mt-52 lg:mt-12;
}
.section-title {
  @apply flex items-center justify-center mt-12 mb-8 text-6xl font-extrabold text-purple-500 underline transition-transform delay-300 transform animate-bounce;
}
.skills {
  @apply flex items-center justify-center h-40 p-2 m-2 text-4xl font-medium bg-indigo-400 rounded-md w-80 hover:text-5xl hover:font-extrabold hover:bg-purple-400;
  /* animate-pulse */
}
.html {
  @apply transition-colors duration-[2000ms] bg-red-400 hover:text-white fill-transparent hover:bg-indigo-900;
}
.css {
  @apply bg-gray-500 hover:text-cyan-400 fill-transparent hover:bg-amber-700 transition-colors
 duration-[2000ms];
}
.tailwind {
  @apply bg-teal-700 hover:text-blue-600 fill-transparent hover:bg-sky-500 transition-colors
 duration-[2000ms];
}
.bootstrap {
  @apply bg-amber-200 hover:text-orange-200 fill-transparent hover:bg-stone-500 transition-colors
 duration-[2000ms];
}
.javascript {
  @apply hover:text-fuchsia-700 fill-transparent text-pink-600 hover:bg-violet-400 transition-colors ease-in-out hover:delay-100
 duration-[2000ms];
}
.react {
  @apply hover:text-violet-900 fill-transparent text-red-400 hover:bg-red-950 transition-colors ease-in-out hover:delay-100
 duration-[2000ms];
}
.node {
  @apply hover:text-red-300 fill-transparent text-slate-300 hover:bg-zinc-600 transition-colors ease-in-out hover:delay-100 bg-orange-500
 duration-[2000ms];
}
.express {
  @apply hover:text-purple-900 fill-transparent text-white hover:bg-pink-800 transition-colors ease-in-out hover:delay-100 bg-rose-500
 duration-[2000ms];
}

.project-card{
  @apply w-full border-2 h-auto p-3 rounded-md shadow-md
}

/* logo for navbar glow
.sunlight-logo {
  animation: glowing 2s ease-in-out infinite;
}

@keyframes glowing {
  0% {
    opacity: 0.5;
    box-shadow: 0 0 5px rgba(195, 235, 243, 0.693);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 20px rgba(27, 50, 125, 0.8);
  }
  100% {
    opacity: 0.5;
    box-shadow: 0 0 5px rgba(221, 221, 207, 0.8);
  }
} */
